<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2Y3KPhc6aBZdiO3KosyiWe6pGzelq2jo</string>
	<key>GCM_SENDER_ID</key>
	<string>894094696657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhidroid.flutterdev.taskReport</string>
	<key>PROJECT_ID</key>
	<string>task-manager-84abc</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-84abc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894094696657:ios:dc2671d6f10e919a37e5f0</string>
</dict>
</plist>